@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.dropdown {
    background-color: rgba(74, 80, 67, 0.4);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 160px;
    border-radius: $dropdown;
    z-index: 100;

    &:active {
        outline: 2.5px solid $primary;
    }
    &:hover {
        background-color: $primary;
        color: $white;
    }

    &__img {
        padding-left: 1rem;
        height: 20px;
        margin-top: 0.75rem;
    }
    &__img:hover {
        fill: $white;
    }
    &__content {
        align-content: center;
    }

    &__item {
        padding: 0.5rem;
        text-align: center;
        border-top: 1px solid $white;
        @include desktopP2;
    }
    &__item:hover {
        background-color: $white;
        outline: 2.5px solid $primary;
        color: black;
    }

    &__names {
        padding: 0.75rem;
    }

    &__button {
        display: flex;
    }
}
