@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.builder-container {
    @include tablet {
        display: flex;
        justify-content: space-between;
        background-color: $white;
        border: 2px solid green;
    }
}
