@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.builder-container {
    background-color: $white;

    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}
