@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.image-container {
    background-color: $white;
    padding: 2rem;
    height: 60vh;
    min-height: 520px;
    max-height: 578px;

    @include tablet {
        width: 48vw;
        position: relative;
    }

    &__container {
        padding-left: 2rem;
        position: absolute;
        width: 90%;

        @include tablet {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        @include desktop {
            padding-left: 10rem;
        }
    }

    &__image {
        width: 100%;
        max-width: 500px;

        @include tablet {
            max-width: 500px;
        }
    }
}
