@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.image-container {
    background-color: $white;
    padding: 2rem;
    border: 3px solid black;
    width: 48vw;
    position: relative;

    &__container {
        border: 1px solid pink;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__image {
        border: 1px solid aqua;
        width: 100%;
    }
}
