@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.presenter {
    background-color: $white;
    padding: 2rem;
    border: 3px solid black;
    height: 75vh;
    width: 48vw;
}

.placeholder {
    border: 1px solid peru;
    height: 100%;
}
