@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.cart-container-header {
    margin: 1rem;
}
.selections {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-items {
    &__header {
        font-weight: bold;
        margin: 0.5rem 0;
    }

    &__total {
        font-weight: bold;
        margin: 0.5rem 0;
    }

    &__delete {
        color: $primary;
        background-color: $secondary;
        border-radius: $buttonRadius;
        padding: 0.5rem 2rem 0.5rem 2rem;
        margin: 0.5rem 0;
    }
}

.cart-total {
    margin: 1rem;
}
