@font-face {
    font-family: "Barlow";
    src: url("../Assets/Fonts/Barlow-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("../Assets/Fonts/Barlow-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url("../Assets/Fonts/Barlow-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
