/////////  Breakpoints /////////
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;

///////// Buttons /////////
$buttonRadius: 12px;
$dropdown: 4px;

///////// Primary Colours /////////
$primary: #4a5043;
$secondary: #b0b7a4;
$white: #fff8f0;
