@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;
@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.cart-button {
    background-color: $primary;
    justify-content: center;
    position: relative;
    display: flex;

    width: 60%;
    min-width: 160px;
    border-radius: $dropdown;
    color: $white;
    height: 41px;

    &:hover {
        background-color: $white;
        color: black;
        outline: 2px solid $primary;
    }

    &__img--2 {
        height: 20px;
        margin-top: 0.4rem;
        padding-right: 0.5rem;
    }

    &__add-cart {
        @include desktopH2;
    }
}
