@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 0.25rem;
}

.leftside {
    display: flex;

    &__logo {
        display: flex;
        padding: 0 1rem 0 1rem;
    }
}
.rightside {
    display: flex;
    padding-right: 1.5rem;

    &__list-parent {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    &__list-item {
        padding: 0.5rem 0.5rem 0 0.5rem;
        color: $primary;
        margin-bottom: 1rem;
        display: flex;
        align-items: flex-end;
        @include desktopH3;

        &:hover {
            border-bottom: 1.5px solid $primary;
            transition: ease-out 0.5s;
            border-radius: $buttonRadius;
            margin-bottom: 1rem;
        }
    }
}

.logo {
    height: 70px;
    padding-top: 0.5rem;
    position: relative;
}

.cart-static {
    height: 20px;
    position: relative;
    top: 0.25rem;
    padding-left: 0.25rem;
}
