@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 1rem;
}

.leftside {
    display: flex;

    &__logo {
        display: flex;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}
.rightside {
    display: flex;

    &__list-parent {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    &__list-item {
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: $primary;
        margin-bottom: 1.5px;

        &:hover {
            border-bottom: 1.5px solid $primary;
            transition: ease-out 0.5s;
            border-radius: $buttonRadius;
            margin-bottom: 0;
        }
    }
}
