@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.option-container {
}
.selector {
    background-color: $white;
    padding: 2rem;
    border: 3px solid black;
    width: 48vw;
}

.dropdown-one,
.dropdown-two,
.dropdown-three,
.dropdown-four,
.dropdown-five {
    padding: 1rem;
    @include desktopH3;
}

.total {
    padding: 1rem;
    @include desktopP1;
}

.dropdown-five {
    padding-top: 2rem;
}
