@use "../../Styles/global" as *;
@use "../../Styles/mixins" as *;
@use "../../Styles/variables" as *;

.option-container {
}
.selector {
    background-color: $white;
    padding: 0 2rem 2rem 2rem;
    width: 100%;

    @include tablet {
        width: 48vw;
    }
}

.dropdown-one,
.dropdown-two,
.dropdown-three,
.dropdown-four,
.dropdown-five {
    padding: 1rem;
    @include desktopH3;

    @include desktop {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
}

.total {
    padding: 1rem;
    @include desktopH2;

    @include desktop {
    }
}

.dropdown-five {
    padding-top: 2rem;
}
